<%- include('../partials/header') %>
<head>
  <link rel="stylesheet" href="/styles.css">
</head>

<h1><%= title %></h1>

<p>Seattle, often referred to as the Emerald City, is a captivating destination that offers a blend of natural beauty and urban charm. The city's iconic Space Needle stands as a testament to its architectural innovation and offers panoramic views of the surrounding landscape. Pike Place Market, a historic landmark, delights visitors with its vibrant atmosphere, fresh produce, and artisanal crafts. The market's famous fish toss is a must-see spectacle that captures the essence of Seattle's unique character.</p>

<p>Exploring the outdoors is a fundamental part of the Seattle experience. The city is surrounded by stunning landscapes, including the Olympic National Park, where ancient forests, rugged mountains, and pristine coastline converge. For water enthusiasts, a stroll along Alki Beach or a kayak adventure on Lake Union provides a glimpse into Seattle's maritime culture. The city's commitment to sustainability is evident in its extensive network of parks and green spaces, making it a haven for nature lovers.</p>

<p>Seattle's cultural scene is diverse and vibrant. The Seattle Art Museum showcases an impressive collection of global artworks, while the Museum of Pop Culture celebrates the history of popular culture through interactive exhibits. Music enthusiasts can trace the city's musical legacy from jazz to grunge, with venues like The Crocodile and the historic Paramount Theatre hosting live performances year-round.</p>

<p>As you explore the city's neighborhoods, from the historic Pioneer Square to the bustling Capitol Hill, you'll encounter a tapestry of experiences that reflect Seattle's inclusive spirit and innovative mindset. Whether you're sipping on artisan coffee in a local café or embarking on a culinary adventure through the city's eclectic eateries, Seattle's vibrant energy is sure to leave a lasting impression.</p>
<img src="seattle.jpg" alt="Seattle Image">

<footer>
  <p><small>&copy; 2023-<span id="this-year"></span> by
      Tamim Totakhail, All Rights Reserved ~
      <a id="html-checker" href="#" target="_blank">Check HTML</a> ~
      <a id="css-checker" href="#" target="_blank">Check CSS</a></small>
  </p>
</footer>

<script>
  document.getElementById("this-year").textContent = new Date().getFullYear();
</script>
<%- include('../partials/footer') %>
